 
 :root{
--pink:#e84393;
--secondry:rgb(56, 56, 56);


 }
 
 *{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
text-transform: capitalize;

 }

 
 header{
height: 75px;
background: #fff;
display: flex;
align-items: center;
justify-content: space-around;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
/* display: inline-block; */
position: fixed;
width: 100%;
 }
 header .logo{
font-size: 34px;
font-weight: 600;
color: black;
 }
 header .logo span{
    color: var(--pink);


 }
 header nav a{
font-size: 24px;
margin-left: 20px;
margin-right: 20px;
color: var(--secondry);
 }
 header nav a:hover{
 color: var(--pink);

 }
 header .icons {
font-size: 30px;
display: flex;
gap: 30px;

}
 header i:hover {
 color: var(--pink);
}
 

.home .content{
   background-image: url(flower\ design.avif);
   height: 655px;
   background-repeat:no-repeat ;
background-size: cover;
}
.home .content .title{

margin-left: 50px;
display: flex;
flex-direction: column;
padding-top: 220px;
max-width: 45%;
}
.home .content .title h3{
font-size: 50px;

}
.home .content .title span{
font-size: 30px;
margin-top: 10px;
color: var(--pink);

}
.home .content .title p{
color: var(--secondry);
font-size: 22px;
margin-top: 20px
}
.home .content .title .btn{
height: 35px;
width: 200px;
background-color: black;
font-size: 25px;
color: white;
text-align: center;
margin-top: 30px;
margin-left: 40px;
border-radius: 20px;
transition: all 500ms;

}

.home .content .title .btn:hover{
background-color: var(--pink);
color: black;

}
 
main h2{
   display: flex;
margin-top: 40px;
 background-color: rgba(255, 192, 203, 0.541);
 height: 50px;
 font-size: 28px;
 justify-content: center;
 align-items: center;
 margin-left: 6%;
 margin-right: 6%;
 
}
 
main h2 span{
color: var(--pink);
margin-right: 16px;

}
.flowers-sallers{
margin-top: 30px;
display: flex;
padding: 0 80px;
}
.flowers-sallers .sallers{
margin-left: 50px;

}
.flowers-sallers .sallers p{
margin-top: 22px;
font-size: 20px;
color: var(--secondry);

}

.flowers-sallers .sallers .btn{
display: flex;
justify-content: center;
align-items: center;
   height: 35px;
width: 150px;
background-color: black;
font-size: 20px;
color: white;
text-align: center;
margin-top: 30px;
margin-left: 40px;
border-radius: 20px;
transition: all 300ms;
}

.flowers-sallers .sallers .btn:hover{
background-color: rgb(255, 0, 128);
color: white;

}
.shopping{
display: flex;
justify-content: space-evenly ;
margin-top: 120px;
height: 160px;
background-color: rgba(185, 183, 183, 0.397);
align-items:center ;
}
 .shopping .orders{
display: flex;
background-color: #fff;
padding: 20px;
gap: 10px;
border-radius: 4px;
 }
 
 
 .flowers-price{
margin-top: 50px;
margin-left: 3%;
margin-right: 3%;
display: flex;
justify-content: space-evenly;

 }

 .flowers-price-2{
   margin-top: 50px;
   margin-left: 3%;
   margin-right: 3%;
   display: flex;
   justify-content: space-evenly;
   
 }
.flowers-price .flowers-pot{
/* border: 1px solid gray; */
background-color: white;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
padding: 10px;
border-radius: 6px;
padding-top: 16px;

 
}
.flowers-price-2{
margin-top: 55px;

}
.flowers-price-2 .flowers-pot{
/* border: 1px solid gray; */
background-color: white;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
border-radius: 6px;
padding: 10px;
padding-top: 16px;

}

 .flowers-price .flowers-pot img{
height: 200px;
width: 200px;
border-radius: 10px;
justify-self: center;
display: flex;

 }
 .flowers-price-2 .flowers-pot img{
height: 200px;
width: 200px;
border-radius: 10px;
 display: flex;
 justify-self: center;
}

 strike{
   margin-top: 5px;
   margin-left: 20px ;

   text-decoration: line-through;
}

.flowers-price .flowers-pot h3{
   font-size: 20px;
 display: flex;
 justify-content: center;
   
}
.flowers-price-2 .flowers-pot h3{
   font-size: 20px;
 display: flex;
 justify-content: center;
   
}
.flowers-price .flowers-pot h4{
   font-size: 20px;
   color: var(--pink);
   margin-left: 30px ;
 }
.flowers-price-2 .flowers-pot h4{
   font-size: 20px;
   color: var(--pink);
   margin-left: 30px ;
 }

 .flowers-price .flowers-pot .price{
display: flex;

 }

 .flowers-price-2 .flowers-pot .price{
display: flex;

 }

.main-card{
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
 }

 
.card{
margin-top: 50px;
/* height: 320px; */
padding: 10px;
width: 20%;
border: 1px solid black;
background-color: rgba(230, 225, 217, 0.178);
border: none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
/* margin-left: 90px; */
display: flex;
justify-content: space-between;

}
 .card .review img{
height: 50px;
border-radius: 50%;
width: 50px;

 }
 .card .review p{
/* max-width: 20%; */
margin-top: 30px;

 }
 .card i{
color: var(--pink);

 }
 .card .review .john-deo{
display: flex;
margin-top: 20px;
margin-left: 10px;
gap: 14px; 
align-items: center;
}
 .card .review .john-deo span{

font-weight: 400;

 }

 main .contact-us{

margin-top: 70px;
display: flex;
justify-content: space-around;
}
main .contact-us .form{
   /* z-index:-1; */
   height: 500px;
   border: 1px solid black;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border: none;
padding-top: 15px;
width: 40%;
/* backdrop-filter: url(https://images.pexels.com/photos/736230/pexels-photo-736230.jpeg?auto=compress&cs=tinysrgb&w=600); */
}

 main .contact-us .name  {
   margin-top: 35px;
     
}
main .contact-us input{
   margin-top: 20px;
   height: 35px;
   width: 400px;
   display: flex;
   flex-direction: column;
}
main .contact-us textarea{
   margin-top: 25px;
}
main #cars{
   margin-top: 20px;
   height: 35px;
   width: 400px;
   margin-left: 50px;
   
}
main .contact-us .form input{
margin-left: 50px;
text-align: center;
}
main .contact-us .form #massage{
height: 100px;
/* width: 50px; */

}
main .contact-us .form input:hover{
background-color: rgba(218, 218, 218, 0.842);

}
 
main .contact-us .form button{
   height: 26px;
   /* width: 250px; */
background: var(--secondry);
/* font-size: 15px; */
border-radius: 20px;
margin-left: 50px;
padding: 20px;
/* margin-top:70px ; */
display: flex;
justify-content: end;
align-items: center;
transition: 300ms;
}
main .contact-us .form button a{
   position: static;
   
color: white;
   text-decoration: none;
}
main .contact-us .form button:hover{
   background-color: var(--pink);
   border: var(--secondry);
}
main .contact-us .save-flower img{
height:500px;
width: 500px;

}
footer{
   background-color: rgba(236, 206, 253, 0.5);

}
footer .links {
display: flex; 
flex-direction: row;
margin-bottom: 10px;
justify-content: space-around;
margin-top: 7%;
padding-top: 4%;
padding-bottom: 2%;
}

footer .links a {
list-style: none;
font-size: 24px;
margin-top: 14px;

}
footer  .links li a{
color: black;
color: var(--secondry);
}
footer  .links ul li{
list-style: none;
margin-bottom: 15px;
}
footer  .links ul h1{
   margin-bottom: 20px;
}
footer .links li a:hover{
   color: blue;
}
footer .links img{
height: 50px;
margin-right: 20px;

}
s{
background-color: pink;
display: flex;align-items: center;
justify-content: center;
}
@media screen and (max-width: 400px) {
   .home .content .title {
     margin-left: 20px; /* Adjust margin-left */
     padding-top: 150px; /* Adjust padding-top */
     max-width: 90%; /* Adjust max-width */
   }
 }

 
 










